/* Styles pour la .cta d'appel à l'action */
.cta {
    background-color: hsl(217, 28%, 15%);
    width: 0 ;
    border-radius: 12px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: var(--spacing-xs);
    box-shadow: 5px 6px 6px rgb(73, 70, 92);
    transition: 0.2s;
    position: absolute !important;
    right: 0;
    left: 0;
    top: 40px; 
    height: 37%;
}
.cta h1 {
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 190%;
    margin-bottom: 3px;
}
.cta p {
    text-align: center;
    color: aliceblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}
.cta input {
    width: 55%;
    margin-right: 8px;;
}

/* Mobile : 375px */
@media (min-width: 375px) {
    .cta {
        width: 220px; /* Réduire la largeur */
        height: 25%;
        position: absolute;
        left: 15px;
        align-items: center;
    }
    .cta h1 {
        font-size : 14px;
    }
    .cta p {
        font-size: 10px;
        text-align: center;
    }
    .cta form{
        display: flex;
        flex-direction: column;
    }
    .cta input { 
        width: 200px;
        height: 50px; /* Facilite le clic sur mobile */
        margin-right: 45px;
        height: 9px;
        font-size: 10px;
        margin-top: -10px;
    }
    .cta button {
        width: 265px;
        height: 9px;
        font-size: 12px;
        align-items: center;
    }
}
/* Desktop : 1440px */
@media (min-width: 1440px) {
    .cta {
        width: 50%; /* Largeur confortable sur écran plus large */
        height: 45%;
    }
}
