/* Styles pour la section des fonctionnalités */
<<<<<<< HEAD
=======
/* Cette partie sera codée par Joshua */
/* Styles pour la section des fonctionnalités */
>>>>>>> 3ad03bb32b06e01da7486aa6ee712aa18ccdbe3a
/* Le background doit etre l'img bg-curvy-desktop.svg, mais je met le --color-dark-blue-main en attendant*/
.features {
    background: var(--color-dark-blue-main);
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 40px 80px; /* Espacement vertical et horizontal */
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-size: 14px ;
    font-weight: var(--font-weight-regular);
    align-items: start; /* Aligner les éléments en haut */
    color: var(--color-white);/* Couleur blanche donnée aux textes sous les icones */
    padding-top: 50px; /* Ajout d'espacement en haut */
    padding-bottom: 50px; /* Ajout d'espacement en bas */
  }
  .features div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .features img {
    height: 70px; /* Ajuste la taille des icônes */
    margin-bottom: var(--spacing-sm); /* Ajout de l'espacement entre l'image et le texte */
  }
.features h2 {
    font-size: 15px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-bold);
    font-family: var( --font-family-headings);
}
.features p {
    margin-top: var(--spacing-xs) /* Très petit espacement entre p et h2 (8px) */;
    color: rgba(255, 255, 255, 0.637); /* Couleur blanche avec opacité */
}
/* Responsivité */
@media (min-width: 375px) {
    .features {
      grid-template-columns: 1fr; /* une seule colonne */
      gap: 20px;
      padding: 0 ;
      padding-top: var( --spacing-xl); /* Ajout d'espacement en haut */
      padding-left: var( --spacing-xl); 
      padding-right: var( --spacing-xl);
    }
  }
  
  @media (max-width: 1440px) {
    .features {
      max-width: 1100px; /* Plus large sur grand écran */
      gap: 50px 100px;
      grid-template-columns: 1fr 1fr;
      padding: 0 3rem 5rem;
    }
  }
