/* Styles pour la section productivité */
body{
    color: black;
}
.productivitys{
    background-color: hsl(218, 28%, 13%);
    color: var(--white);
    font-family: var(--font-body);
    font-weight: var(--font-regular);
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    a{
        text-decoration: none;
    }
    .under{
        border-bottom: 1px hsl(176, 68%, 64%) solid;
    }
    div{
        margin: 5px;
        padding-left: 5px;
    }
    h1{
        color: var(--white);
        font-size: 120%;

    }
    p{
        font-size: large;
        padding-right: 18%;
    }
    .textdiv{
        padding-left: 40px;
    }
}
.imgproductivitys{
    align-content: center;
    padding-left: 300px;
}
@media screen and (max-width:375px) {
    .productivitys{
        display: flex;
        flex-direction: column;
        h1{
            font-size: large;
            padding-right: 0px;
        }
    }
    .imgproductivitys{
        align-content: center;
        width: 80%;
        height: 80%;
        padding: 60px;
    }
}
@media screen and (min-width:1320px) {
    .productivitys{
        display: flex;
        flex-direction: row;
        h1{
            font-size: 250%;
            padding-right: 100px;
        }
    }
    .imgproductivitys{
        align-content: center;
        width: 120%;
        height: 120%;
    }
    div{
        padding-left: 50px;
    }
}