/* Styles pour la section productivité */
.productivitys{
    background-color: hsl(218, 28%, 13%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    h1{
        font-weight: 700;
    }
    a{
        text-decoration: none;
        color: var(--cyan);

    }
    #under{
        border-bottom: 1px hsl(176, 68%, 64%) solid;
    }
}
.imgproductivitys{
    justify-self: center;
}
@media screen and (max-width:425px) {
    .productivitys{
        display: flex;
        flex-direction: column;
        h1{
            display: block;
        }
    }
    .imgproductivitys{
        justify-self: center;
        width: 90%;
        height: 90%;
    }
}
@media screen and (min-width:1024px) {
    .productivitys{
        display: flex;
        flex-direction: row;
        h1{
           display: block;
        }
    }
    .imgproductivitys{
        justify-self: center;
    }
}